.div1 {
  padding: 10px 20%;
}

input[type='text'] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='text'] {
  background: #dddddd;
}

legend {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 3px 6px;
  font-size: 20px;
  font-style: oblique;
  font-weight: 800;
}


.button {
  width: 50%;
  background-color: #007965;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* The following codes will center align a button. */

  margin: 8px auto;
  display: block;
}

input[type='submit']:hover {
  background-color: #04aa6d;
}

@media all and (max-width: 768px) {
  .div1 {
    padding: 1%;
  }
}

@media (min-device-width: 769px) and (max-device-width: 1024px) {
  .div1 {
    padding: 12% 8%;
  }
}
